<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HD System</name>
    <description>
    
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-googleplus" spec="~4.0.9">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.649195066861-jko1msk8gr23dq6f1oh2qtkqfojqalds" />
    </plugin>
    <platform name="android">
        <allow-intent href="market:*" />
        <hook src="www/js/Platform/Cordova/Hooks/beforeBuild.js" type="before_build" />
        <hook src="www/js/Platform/Cordova/Hooks/afterBuild.js" type="after_build" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser">
        <hook src="www/js/Platform/Cordova/Hooks/beforeBuild.js" type="before_build" />
        <hook src="www/js/Platform/Cordova/Hooks/afterBuild.js" type="after_build" />
        
    </platform>
</widget>
