#post-page{
    .header-title{
        text-align: center;
        color: #403c3c;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .body-content{
        .content-wrapper {
            width: calc(100vw - 20px);
            margin: 0px 10px;
            .row {
                display: flex;
                margin-bottom: 10px;
                .title {
                    width: 25%;
                }
                .content {
                    width: 75%;
                    select{
                        padding: 5px;
                        border-radius: 5px;
                        width: 100%;
                        background-color: #fff;
                    }
                    input {
                        width: 100%;
                        border-radius: 5px;
                        padding: 5px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: rgb(118, 118, 118);
                    }
                    textarea{
                        height: 80px;
                    }
                }
            } 
        }
        .btn-wrapper{
            text-align: center;
            padding-top: 20px;
            button.btn-submit {
                padding: 7px 15px;
                border-radius: 5px;
                background-color: var(--main-color-orange-dark);
                border: 1px solid var(--main-color-orange-dark);
                color: white;
            }
        }
    }
}